p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(
      rgba(245, 127, 39, 0.8),
      rgba(245, 127, 39, 0.8)
    ),
    url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}

img {
  display: block;
  width: 270px;
  height: 150px;
  object-fit: cover;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

/* Search Field */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.search-form {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}
.search-form-input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20;
  font-size: 20px;
}
.searchbar {
  width: 40px;
  height: 40px;
}
button img {
  width: 25px;
}

button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: transparent;
  cursor: pointer;
  background: rgba(227, 105, 11, 0.4);
}
button:hover {
  background: rgba(227, 105, 11, 0.8);
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.lightbox {
  color: black;
  text-decoration: none;
}

.photo-card {
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

.info-number {
  margin-top: 5px;
  font-weight: 400;
  font-size: 11px;
}
